## Loading dataset from the repository

In [1]:
!git clone https://github.com/mohan522/Iris.git

Cloning into 'Iris'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (6/6), done.
remote: Total 8 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (8/8), done.

In [29]:
#importing necessary libraries
import numpy as np
import pandas as pd

In [3]:
#loading dataset into dataframe
df = pd.read_csv("/content/Iris/iris.data",header =  None)

## Why using header as None, coz to have first row as data rather than header and not losing first row

In [4]:
#checking the top 5 rows of the data set
df.head()

     0    1    2    3            4
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

### Adding column names to the dataset

In [5]:
df.columns =["sepal_length","sepal_width","petal_length","petal_width","class"]

In [6]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [7]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [8]:
#understanding the datatypes of each features and class
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

### Based upon the info from the above cell there are no null values in the dataset and the dataset is clean

In [9]:
#checking what type of classes present in this dataset
df["class"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [30]:
df.count() # total number of rows in this dataset

sepal_length    150
sepal_width     150
petal_length    150
petal_width     150
class           150
dtype: int64

In [15]:
X = df.drop(["class"],axis =1).to_numpy()
y = df["class"].to_numpy()

In [36]:
#spliotting the dataset in 67-33 
from sklearn.model_selection import train_test_split
X_train,X_test, Y_train, Y_test = train_test_split(
    X, y, random_state=42, test_size = 0.33
    )

In [37]:
#fitting the model with naive bayes
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

#fitting model
model = gnb.fit(X_train, Y_train)

#predicting the test split data
y_pred = model.predict(X_test)

#checking the accuracy of the model
from sklearn.metrics import accuracy_score
gnb_Accuracy= accuracy_score(y_pred,Y_test)
print('Accuracy: {}'.format(gnb_Accuracy))

Accuracy: 0.96

In [38]:
#fitting the model with naive bayes
from sklearn.tree import DecisionTreeClassifier
Dtc = DecisionTreeClassifier()

#fitting model
model = Dtc.fit(X_train, Y_train)

#predicting the test split data
y_pred = model.predict(X_test)

#checking the accuracy of the model
from sklearn.metrics import accuracy_score
Dtc_Accuracy= accuracy_score(y_pred,Y_test)
print('Accuracy: {}'.format(Dtc_Accuracy))

Accuracy: 1.0

In [39]:
#fitting the model with naive bayes
from sklearn.neighbors import KNeighborsClassifier
Knc = KNeighborsClassifier()

#fitting model
model = Knc.fit(X_train, Y_train)

#predicting the test split data
y_pred = model.predict(X_test)

#checking the accuracy of the model
from sklearn.metrics import accuracy_score
Knc_Accuracy= accuracy_score(y_pred,Y_test)
print('Accuracy: {}'.format(Knc_Accuracy))

Accuracy: 0.98

## Out of all the models Decision Tree perfromed better compared to rest other
## Hence considering Decision Tree Classifier is the best suitable model for predicting the future cases.
## there are certain draw backs involbved as the dataset is so small the results were easily sorted